{% extends 'partials/base.html' %} {% load static %} {% block content %}
{%include "partials/navbar.html" %}
<div class="mt-12 shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Event</th>
        <th scope="col" class="px-6 py-3">Certificate Type</th>
        <th scope="col" class="px-6 py-3 text-right"><a href={%url 'mail_all'%} class="text-blue-500 hover:underline">Mail 50</a></th>
        {% comment %} <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {%if candidates%} {% for candidate in candidates %}
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{candidate.name}}
        </th>
        <td class="px-6 py-4">{{candidate.event}}</td>
        <td class="px-6 py-4">{{candidate.certificate_type}}</td>
        <td class="px-6 py-4 text-right">
          {% if not candidate.is_sent%}
          <a
            href="{% url 'send_email' id=candidate.id %}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4"
            >Send mail</a
          >
          {%endif%}
          <a
            href="{%  url 'delete' candidate.email %}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4"
            >Delete</a
          >
          <a
            href="{% url 'update' candidate.id %}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4"
            >Edit</a
          >
        </td>
      </tr>
      {%endfor%} {%endif%}
    </tbody>
  </table>
</div>

{% endblock %}
